section {
        min-width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginFrame {
        color: rgb(208, 216, 245);
        background: #343244;
        padding: 12px;
        border-radius: 19px;

    }
